version: 1.{branch}.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  except:
  - rathena
  - coverity_scan
skip_tags: true
skip_branch_with_pr: true
image: Visual Studio 2017
clone_depth: 5
environment:
  matrix:
  - HerculesProject: Hercules-15.sln
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    HerculesProject: Hercules-16.sln
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
    HerculesProject: Hercules-17.sln
services: mysql
build_script:
- cmd: MSBuild %HerculesProject% /t:map-server,char-server,login-server
test: off
deploy: off
notifications:
- provider: Email
  to:
  - dev@herc.ws
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true
