# hercules aliases

<Angelmelody@gmail.com> <cutepeipei@hotmail.com.tw>
<Asheraf@users.noreply.github.com> <acheraf1998@gmail.com>
Evil Puncker <epuncker@gmail.com> <EPuncker@users.noreply.github.com>
Evil Puncker <epuncker@gmail.com> <gm.perflex@gmail.com>
<cannelle@users.noreply.github.com> <starfish2700@gmail.com>
<dev@herc.ws> <Hercules@efficiently.awesome>
<equinox1991@gmail.com> <Emistry@users.noreply.github.com>
<equinox1991@gmail.com> <Equinox1991@gmail.com>
<gauvain.dauchy@free.fr> <alige@users.noreply.github.com>
<git@gumi.ca> <mekolat@users.noreply.github.com>
<guilherme.menaldo@outlook.com> <guilherme-gm@users.noreply.github.com>
<haru@dotalux.com> <haru@originsro.org>
<ibrahem.h.basyone@gmail.com> <hemagx2@gmail.com>
<ind@henn.et> <int@henn.et>
<ind@henn.et> <notind@gmail.com>
<ind@henn.et> <shennetsind@users.noreply.github.com>
<jeankofannie2@gmail.com> <jeankof@ymail.com>
<jedzkie13@rocketmail.com> <Jedzkie@users.noreply.github.com>
<jedzkie13@rocketmail.com> <eikzdej@gmail.com>
<jedzkie13@rocketmail.com> <jedzkie999@gmail.com>
<michieru-kun@hotmail.com> <Michieru@users.noreply.github.com>
<michieru-kun@hotmail.com> <michieru@0-mail.com>
<streusel@gravity.co.kr> <advance_me@hotmail.de>
<streusel@gravity.co.kr> <m.me1@live.de>
Carlos Henrique <carloshlfzanon@gmail.com> Carlos <carloshlfzanon@gmail.com>
Dastgir <dastgirp@gmail.com>
Dastgir <dastgirp@gmail.com> <dastgir@users.noreply.github.com>
Dastgir <dastgirp@gmail.com> <dastgirpojee@rocketmail.com>
Emistry Haoyan <equinox1991@gmail.com>
Evil Puncker <EPuncker@users.noreply.github.com>
Haru <haru@dotalux.com> Haruna <haru@dotalux.com>
Jenkijo <jenkijo@hrzn.community> <phongtruongit@gmail.com>
KeiKun <the.keikun@gmail.com> Kei <the.keikun@gmail.com>
Kenpachi <Kenpachi.Developer@gmx.de>
Kenpachi <Kenpachi.Developer@gmx.de> Kenpachi Developer <Kenpachi.Developer@gmx.de>
Kenpachi <Kenpachi.Developer@gmx.de> Kenpachi2k13 <3476227+Kenpachi2k13@users.noreply.github.com>
Kenpachi <Kenpachi.Developer@gmx.de> Kenpachi2k13 <Kenpachi.Developer@gmx.de>
Kenpachi <Kenpachi.Developer@gmx.de> kenpachi2k11 <Kenpachi.Developer@gmx.de>
Smokexyz <sagunkho@hotmail.com>
Smokexyz <sagunkho@hotmail.com> <sagunxp@gmail.com>
Smokexyz <sagunkho@hotmail.com> SagunKho <sagunkho@hotmail.com>
Smokexyz <sagunkho@hotmail.com> sagunkho <sagunkho@hotmail.com>
Smokexyz <sagunkho@hotmail.com> smokexyz <sagunkho@hotmail.com>
Zopokx <zopokx@gmail.com>
euphyy <euphy@rathena.org>
skyleo <skyleo@skyleo.de> <leo-pflug@web.de>
skyleo <skyleo@skyleo.de> Leo Pflug <skyleo@skyleo.de>

# SVN -> git mailmap

<kisuka@kisuka.com> <Kisuka@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<euphy@rathena.org> <euphyy@54d463be-8e91-2dee-dedb-b68131a5f0ec>
Lemongrass3110 <lemongrass@kstp.at> <lemongrass3110@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<trojal@gmail.com> <trojal@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<joseph.tk.ea@gmail.com> <j-tkay@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<ind@henn.et> <shennetsind@54d463be-8e91-2dee-dedb-b68131a5f0ec>
Kenpachi <Kenpachi.Developer@gmx.de> <kenpachi2k11@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<umage@netvor.sk> <ultramage@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<ai4rei@users.noreply.github.com> <ai4rei@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<Kenji.Ito@gmx.de> <Playtester@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<masao@gmx.ch> <masao87@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<piotr.halaczkiewicz@gmail.com> <gepard1984@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<piotr.halaczkiewicz@gmail.com> <Gepard@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<missxantara@gmail.com> <xantara@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<lightaisme@gmail.com> <glighta@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<brianluau@users.noreply.github.com> <brianluau@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<harrison@isabarwon.com> <calciumkid@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<fw@f-ws.de> <blacksirius@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<fw@f-ws.de> <sirius@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<jmish1987@gmail.com> <jmanfffreak@54d463be-8e91-2dee-dedb-b68131a5f0ec>
Paradox924X <paradox924x@gmail.com> <Paradox924x@54d463be-8e91-2dee-dedb-b68131a5f0ec>
Paradox924X <paradox924x@gmail.com> <Paradox924X@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<yomanda@gmail.com> <Yommy@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<masterofmuppets89@gmail.com> <MasterOfMuppets@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<flaviojs2005@gmail.com> <flaviojs@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<flaviojs2005@gmail.com> <FlavioJS@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<flaviojs2005@gmail.com> <flaviojs2005@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<macabu.matheus@gmail.com> <momacabu@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<Daegaladh@users.noreply.github.com> <daegaladh@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<greenboxal@gmail.com> <greenboxal2@54d463be-8e91-2dee-dedb-b68131a5f0ec>
<malufett.eat.my.binaries@gmail.com> <rud0lp20@54d463be-8e91-2dee-dedb-b68131a5f0ec>

# missing from github:
# - skotlex
# - L0ne_W0lf
# - Lupus
# - celest
# - Lance
# - zephyrus
# - amber
# - Inkfish
# - toms
# - shadowlady
# - codemaster
# - Vicious
# - samuray22
# - Kevin
# - eathenabot
# - shadow
# - mc_cameri
# - evera
# - SinSloth
# - epoque11
# - DracoRPG
# - sketchyphoenix
# - littlewolf
# - eaac
# - ajarn
# - wizputer
# - Nasedo
# - valaris
# - blackhole89
# - protimus
# - Komurka
# - Poki#3
# - cookiecrumbs
# - Zido
# - akrus
# - markzd
# - xazax-hun
# - lordttseven
# - musahiden
# - Aria
# - og2
