language: c
os: linux
dist: trusty
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test

install:
  - ./tools/ci/travis.sh getplugins || true

arch:
  - amd64

before_script:
  - uname -a
  - env
  - ulimit -c unlimited -S
  - if [[ "$(uname -m)" != "x86_64" ]]; then $SUDO ./tools/ci/travis.sh startmysql; fi
  - $SUDO ./tools/ci/travis.sh createdb ragnarok root
  - $SUDO ./tools/ci/travis.sh importdb ragnarok root
  - $SUDO ./tools/ci/travis.sh adduser ragnarok travis travis root

script:
  - if [[ ! -z "${HPM}" ]]; then ./tools/ci/travis.sh buildhpm $CONFIGURE_FLAGS; fi
  - ./tools/ci/travis.sh build $CONFIGURE_FLAGS
  - ./tools/ci/travis.sh test ragnarok travis travis

compiler: false # Necessary at the top level because referenced by allow_failures
env: ignore=this # Necessary at the top level because referenced by allow_failures

git:
  depth: 1

jobs:
  allow_failures:
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug CC=clang-5.0 --enable-Werror --enable-buildbot"
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug CC=clang-5.0 --disable-renewal --enable-Werror --enable-buildbot"
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug CC=clang-4.0 --enable-Werror --enable-buildbot"
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug CC=clang-4.0 --disable-renewal --enable-Werror --enable-buildbot"
  exclude:
  - env: ignore=this
  - compiler: false
  include:
  - language: php
    env: sqlcheck=true
    script:
        - travis_retry composer self-update
        - cd tools/php-sqllint
        - travis_retry composer install --no-interaction --prefer-source
        - cd ../..
        - ./tools/checksql.sh
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug CC=gcc-6 --disable-manager --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot" HPM="1"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - gcc-6
        - doxygen
        - libxml-simple-perl
        - libxml-sax-perl
        - libxml-parser-perl
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug CC=clang-5.0 --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot"
    addons:
      apt:
        sources:
        - llvm-toolchain-trusty-5.0
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - clang-5.0
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug CC=clang-5.0 --disable-renewal --enable-Werror --enable-buildbot"
    addons:
      apt:
        sources:
        - llvm-toolchain-trusty-5.0
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - clang-5.0
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug CC=clang-4.0 --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot"
    addons:
      apt:
        sources:
        - llvm-toolchain-trusty-4.0
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - clang-4.0
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug --enable-Werror --enable-buildbot"
  - compiler: clang
    env: CONFIGURE_FLAGS="--enable-debug --disable-renewal --enable-Werror --enable-buildbot"
  - compiler: gcc
    env: CONFIGURE_FLAGS="--enable-debug --enable-Werror --enable-packetver=20200304 --enable-buildbot"
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-5 --disable-manager --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - gcc-5
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-6 --disable-manager --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - gcc-6
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-7 --disable-manager --disable-renewal --enable-Werror --enable-buildbot"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - gcc-7
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-8 --disable-manager --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - gcc-8
  - compiler: gcc
    env: LDFLAGS="-fuse-ld=gold" CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-8 --disable-manager --disable-renewal --enable-Werror --enable-buildbot"
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - gdb
        - gcc-8
  - compiler: gcc
    arch: arm64
    env: CONFIGURE_FLAGS="--enable-debug --enable-sanitize=full CC=gcc-10 --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot --disable-manager" SUDO="sudo"
    dist: focal
    addons:
      apt:
        packages:
        - libpcre3-dev
        - gdb
        - mysql-server
        - gcc-10
  - compiler: gcc
    arch: arm64
    env: CONFIGURE_FLAGS="--enable-debug --enable-Werror CC=gcc-10 --enable-packetver=20200304 --enable-packetver-re --enable-buildbot --disable-manager" SUDO="sudo"
    dist: focal
    addons:
      apt:
        packages:
        - libpcre3-dev
        - gdb
        - mysql-server
        - gcc-10
  - compiler: gcc
    arch: ppc64le
    env: CONFIGURE_FLAGS="--enable-debug --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot --disable-manager" SUDO="sudo"
    dist: bionic
    addons:
      apt:
        packages:
        - libpcre3-dev
        - gdb
        - mysql-server
# big endian not supported
#  - compiler: gcc
#    arch: s390x
#    env: CONFIGURE_FLAGS="--enable-debug --enable-Werror --enable-packetver=20200304 --enable-packetver-re --enable-buildbot" ROOT="true"
#    addons:
#      apt:
#        packages:
#        - libpcre3-dev
#        - gdb

notifications:
  email: false

branches:
  except:
    - rathena
