language: c
sudo: false
addons:
  #apt:
  #  sources:
  #  - ubuntu-toolchain-r-test
  #  packages:
  #  - gcc-5
  #  - gcc-6
  coverity_scan:
    # GitHub project metadata
    project:
      name: "HerculesWS/Hercules"
      description: "Build submitted via Travis CI"
      #version: 1.0
    # Where email notification of build analysis results will be sent
    notification_email: "haru@dotalux.com"
    # Commands to prepare for build_command
    build_command_prepend: "./configure --enable-debug; make clean"
    # The command that will be added as an argument to "cov-build" to compile your project for analysis,
    build_command: "make"
    # Pattern to match selecting branches that will run analysis.
    branch_pattern: coverity_scan

env:
  global:
    # COVERITY_SCAN_TOKEN
    - secure: "gcrI+3sx7SFz9N0NN1Ap+qlrAJjOe9xIxMQkV78LmhBBc8wG3lkSF4ASEf7690yo3bcp0gsvkfIUL8fXl68ImOxgnVTuR7oxCkjHdtCdszsoU8eGU7Kg8H0ggq/8G6493/l6sNUgZodXJOS0oyl0hHzcf5ViVM8EcoyC9USd06U="

script:
  - true

# We can't use this, unfortunately
# http://github.com/travis-ci/travis-ci/issues/979
#compiler:
#  - clang
#  - gcc

matrix:
  exclude:
  - env: ignore=this
  include:
  - compiler: gcc
    env: CONFIGURE_FLAGS="--enable-debug"
  
notifications:
  email: false

branches:
  except:
    - rathena
